{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Creatica</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body style = "background-color:#F0E7DB">
    <header>
        <div class="navbar">
            <ul style = "background: #F4DEC2">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'login' %}"> Login </a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </div>
    </header>
    <div id="container3">
        <div class="text1">
            <!-- <h1 align="left">About</h1> -->
            <h2 align="center">Who are we?</h2>
            <p align="center">
                We are of team of 4 like-minded individuals with different backgrounds coming together to participate in the Creatica 2022 Hackathon.
            </p>
            <br />
            <h2 align ="center">What is the Pomodoro Technique?</h2>
            <p align="center">
                The Pomodoro Technique is a time management system that enables the person to work with the time that they have rather than against it. It breaks your working session into 25 minute chunks separated by 5 minute breaks (an interval known as a pomodoro). After four pomodoros, you take a longer break of 15 minutes.
            </p>
        </div>
    </div>
</body>
</html>