{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Creatica</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header>
        <div class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="{% url 'login' %}"></a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </header>
    <div id="container">
        <p id="pomodoro" class="label">Pomodoro</p>
        <p id="shortbreak" class="label">Short Break</p>
        <p id="longbreak" class="label">Long Break</p>

        <div id="pomo-timer" class="timer">
            <p id="p_mins">01</p>
            <p class="semicolon">:</p>
            <p id="p_secs">00</p>
        </div>

        <div id="long-timer" class="timer">
            <p id="l_mins">01</p>
            <p class="semicolon">:</p>
            <p id="l_secs">00</p>
        </div>

        <div id="short-timer" class="timer">
            <p id="s_mins">01</p>
            <p class="semicolon">:</p>
            <p id="s_secs">00</p>
        </div>
        <button id="start" class="btn">Start</button>
        <button id="stop" class="btn">Stop</button>
        <button id="reset" class="btn">Reset</button>
    </div>
    <script src="{% static 'app.js' %}"></script>
</body>
</header>
</body>

</html>